<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tkli</display-name>
  <!-- <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> -->
  <!--设置request编码方式的过滤器-->
	<servlet>
		<servlet-name>LoadOnStartupServlet</servlet-name>
		<servlet-class>org.jcrontab.web.loadCrontabServlet</servlet-class>
		<init-param>
            <param-name>PROPERTIES_FILE</param-name>
	    <param-value>WEB-INF/jcrontab.properties</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetFilePath</servlet-name>
    <servlet-class>com.bcli.backend.controller.GetFilePath</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetFilePath</servlet-name>
    <url-pattern>/servlet/GetFilePath</url-pattern>
  </servlet-mapping> 	
</web-app>